

.nav-links-container {
  padding: 0;
  margin-top: 50px;
}

.main button {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav {
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: #333333;
  transform: translateX(350px); /* hides the nav */
  transition: transform 0.5s;
  z-index: 2;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-close { /* this is for the close icon */
  background: none; /*removes the backgroud colour */
  border: none; /*removes the border */
  display: flex;
  align-items: center;
  margin-left: auto; /* places the icon in the right hand side of the menu */
  padding: 15px 25px;
  color: white;
  cursor: pointer; /* gives the cursor the shape of a hand on hover */
}

.nav-open .nav { /* this is when the menu is open */
  transform: translateX(0);
}

.nav-link {
  display: flex; /* allows items to stack */
  align-items: center;
  padding: 15px;
  color: white;
  font-family: myFirstFont;
  font-size: 1.2rem;
}

.nav-link:hover,
.nav-close:hover {
  background: rgba(255, 255, 255, 0.05);
}

.nav-text {
  margin-left: 30px;
}

.nav-title {
  font-family: myThirdFont;
  color: white;
  font-size: 1.8rem;
  margin-left: 50px;
  margin-top: -45px;
  letter-spacing: 4px;
}

.cake-logo {
  padding-left: 60px;
}

.burger-logo {
  padding-left: 70px;
}

.salad-logo {
  padding-left: 80px;
}

.hero {
  background-image: url("images/cook.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center center;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.sub-hero-section {
  font-family: myFirstFont;
  font-size: 5rem;
  margin-bottom: 3%;
}

.salmon, .burger, .cake {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center center;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-left: 80px;
  margin-right: 80px;
  overflow: hidden;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none; /*removes the underline from the hyperlinks*/
}

.align-items {
  align-items: center;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #132126;
  box-sizing: border-box;
  overflow: hidden; /*fixed the issue of the overlay being clickable in the margins*/
} /* styling the overlay of the images (part of the hover effect)*/

.salmon:hover .overlay,
.burger:hover .overlay,
.cake:hover .overlay {
  opacity: 0.8;
}/* adding the overlay to each recipe*/


.text {
  color: white;
  font-family: myThirdFont;
  font-size: 5rem;
  letter-spacing: 7px;
  text-align: center;
  margin-top: 40px;
}/* text overlay styling */

.clock-container {
  display: flex;
  justify-content: center; 
  margin-left: -200px;
  margin-top: -60px;
}

.prep-time {
  font-family: myFirstFont;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-left: 10px;
}

.clock {
  margin-left: -260px;
}

.hat-container {
  display: flex;
  justify-content: center; 
  margin-left: -200px;
  margin-top: -130px;
}

.difficulty {
  font-family: myFirstFont;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-left: 10px;
}

.hat {
  margin-left: -280px;
}

.burger .hat {
  margin-left: -241px;
}

.salmon {
  position: relative;
  background-image: url("images/salmon.jpg");
}

.burger {
  position: relative;
  background-image: url("images/burger.jpg");
}

.cake {
  position: relative;
  background-image: url("images/cake.jpg");
}

.logo {
  position: absolute; 
	top: 20px;
	left: 20px; 
}

.footer {
  background-color: rgb(16, 15, 17);
  height: 200px;
  position: relative;
}

.footer-text {
  color: white;
  font-family: myFirstFont;
  font-size: 20px;
  margin-left: 35px;
  position: relative;
}

.footer-logo {
  position: relative; 
	bottom: 75px;
	left: 20px; 
  margin-left: 20px;
}

.author {
  color: white;
  font-family: myFirstFont;
  font-size: 15px;
  text-align: center;
  position: relative;
}

.social-media {
  position: relative;
  float: right;
  bottom: 35%;
  right: 4%;
  width: 20px;
}

.tiktok {
  margin-right: 0.5%;
}

.instagram {
  margin-right: 0.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color:whitesmoke;
  overflow-x: hidden;
}

div {
  padding: 40px;
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 70px;
  color: black;
  font-family: myFirstFont;
  text-align: center;
  margin: 0;
  top: 1000px;
}

h2 {
  font-size: 35px;
  color: black;
  text-align: center;
  font-family: mySecondFont;
}

h1, h2 {
  margin-bottom: -15px; 
}

.salmon-hero {
  background-image: url("/images/salmon.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center center;
  box-sizing: border-box;
  margin-bottom: 80px;
  position: relative;
}

.ingredients-container {
  border-color:#3f826d;
  border-style: dashed;
  background-color: whitesmoke;
  width: 30%;
  flex-direction: column; /* Adjust to column layout */
  position: relative;
  display: flex;
  align-items: center; /* Center the content vertically */
  border-radius: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
   /* this is to place the steps and ingredients containers side by side */
}

.ingredients-title {
  text-decoration: underline;
  color: black;
  margin-bottom: 5px; 
}


.ingredients-list {
  padding: 20px; /* Adjust padding as needed */
  font-family: mySecondFont;
  font-size: 1.2rem;
  line-height: 2.2; /* Adjust line height as needed */
  color: black;
}

.steps-container {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column; /* Adjust to column layout */
  align-items: center;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #3f826d;
  
  
}

.steps-list {
  padding: 20px; /* Adjust padding as needed */
  font-family: mySecondFont;
  font-size: 1.2rem;
  line-height: 2.2; /* Adjust line height as needed */
  color: whitesmoke;
}

.steps-title {
  text-decoration: underline;
  color: whitesmoke;
  margin-bottom: 5px; 
}

.recipe-content {
  display: flex;
  justify-content: space-between;
}



.top-nav {
  height: 10px;
}

.overlay-salmon {
  background-color: black;
  opacity: 0.8;
  height: 50%;
  width: 100%; /* Set the width to 100% to cover the entire width of the .salmon section */
  bottom: 0; /* Align the bottom of the overlay-rectangle to the bottom of the .salmon section */
  position: absolute; /* Position the overlay-rectangle absolutely within the .salmon section */
  box-sizing: border-box;
}

.overlay-salmon .text {
  font-size: 4rem;
  margin-top: -10px;
}

.overlay-salmon .clock-container{
  margin-top: -90px;
}



@font-face {
  font-family: myFirstFont;
  src: url(font/Poppins-Regular.ttf);
}

@font-face {
  font-family: mySecondFont;
  src: url(font/Poppins-Light.ttf)
}

@font-face {
  font-family: myThirdFont;
  src: url(font/GreatRebellion-3znKL.ttf);
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 45px;
    margin-top: 60px;
  }
  .hero h2 {
    font-size: 30px;
  }
  .logo {
    width: 40px;
  }
  .sub-hero-section {
    font-size: 45px;
  }
  .footer-logo {
    margin-left: 5px;
    width: 20px;
    margin-top: 5px;
  }
  .footer-text {
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 12px;
  }
  .social-media, .social-media instagram,
  .social-media tiktok {
    width: 15px;
    margin-top: 5px;
  }
  .social-media {
    margin-right: 5px;
  }
  .nav-link:hover,
  .nav-close:hover {
    background: none; /* it disables the hover effect in the nav bar */
}
  .salmon, .burger, .cake {
    margin-left: 20px;
    margin-right: 20px;
  }
  .overlay {
    display: none; /* it disables the hover effect on the recipe images */
  }

  .overlay-rectangle {
    background-color: black;
    opacity: 0.8;
    height: 250px;
    width: 100%; /* Set the width to 100% to cover the entire width of the .salmon section */
    bottom: 0; /* Align the bottom of the overlay-rectangle to the bottom of the .salmon section */
    position: absolute; /* Position the overlay-rectangle absolutely within the .salmon section */
    box-sizing: border-box;
  }

  .text {
    font-size: 35px;
    position: relative;
    top: -70px;
    letter-spacing: normal;
    white-space: nowrap;
    margin-left: -30px;
  }
  .clock-container {
    display: flex;
    position: relative;
    top: -100px;
    justify-content: center; 
  }
  .prep-time {
    font-size: 18px;
    margin-right: 20px;
  }
  .clock {
    width: 30px;
    margin-left: -255px;
  }
  .hat-container {
    display: flex;
    position: relative;
    top: -110px;
    justify-content: center; 
  }

  .difficulty {
    font-size: 18px;
    margin-right: 20px;
  }

  .hat {
    width: 30px;
    margin-left: -270px;
  }
  .text-burger {
    font-size: 35px;
    position: relative;
    top: -70px;
    letter-spacing: normal;
    white-space: nowrap;
    margin-left: -40px;
    color: white;
    font-family: myThirdFont;
    margin-top: 40px;
    text-align: center;
  }
  .cake .overlay-rectangle .text {
   margin-left: -50px;
  }

  .recipe-content {
    flex-direction: column;
  }

  .ingredients-container,
  .steps-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
  

